<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:spring.properties"/>



    <bean name="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbcDriverName}"
          c:url="${jdbcUrl}"
          c:username="${jdbcUsername}"
          c:password="${jdbcPassword}"/>

    <bean name="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>xyz.cym2018.DAO</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.hbm2ddl.auto=${hibernateHbm2ddlAuto}
                hibernate.dialect=${hibernateDialect}
                hibernate.show_sql=${hibernateShowSql}
            </value>
        </property>
    </bean>

    <bean name="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <context:component-scan base-package="xyz.cym2018.DAO"/>
    <context:component-scan base-package="xyz.cym2018.tools"/>
    <context:component-scan base-package="xyz.cym2018.service"/>
    <!--    <tx:annotation-driven   transaction-manager="transactionManager" />-->


    <aop:aspectj-autoproxy/>
</beans>
        <!--    <bean shopId="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"-->
        <!--          p:sessionFactory-ref="sessionFactory"/>-->
        <!--    <tx:annotation-driven/>-->
        <!--    <aop:aspectj-autoproxy/>-->


        <!--    <bean shopId="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"-->
        <!--          lazy-init="true" p:dataSource-ref="dataSource">-->
        <!--    </bean>-->


        <!--    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="dataSource" lazy-init="true"-->
        <!--          p:driverClassName="${jdbcDriverName}"-->
        <!--          c:url="${jdbcUrl}"-->
        <!--          c:username="${jdbcUsername}"-->
        <!--          c:password="${jdbcPassword}"/>-->